body {
    background-color: #006401 !important;
    color: white !important;
}

#weather-view {
    background: url('../img/summer-sun.jpg') top left no-repeat;
    background-size: cover;
    height: 800px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 75px 10px #888888 ;
    
}

h1 {
    border-bottom: 1px solid black;
    font-family: 'Della Respira', serif !important;
    font-size: 50px !important;
    
}

.weather-app {
    margin: 10px auto;
    width: 300px;
    height: 180px;
    border-radius: 20px;
    box-shadow: 10px 10px 50px #888888;
    overflow: hidden;
    text-align: center;
    font-family: "Mono";
}

.left {
    float: left;
    background: #262626;
    padding: 10px;
    width: 170px;
    height: 100%;
    color: white;
}

.temperature {
    margin-top:30px;
    margin-bottom:5px;
    font-size:32px;
    font-weight: bold;
    width: 150px;
}

.location {
    font-size: 18px;
    width:100%;
    width:150px;
}

.right {
    float: right;
    width:130px;
    height:100%;
    
}

.top {
    height: 100px;
    width: 100%;
    margin: auto;
    background: #cec;
}

.top img {
    margin-top: 15px;
}

.bottom {
    height: 90px;
    background: #669999;
    color: white;
    font-weight: bold;
    
}

.humidity {
    padding: 8px;
}

.description {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    width:100%;
    width:150px;
    
}

footer {

padding-top: 50px;
  color: white;
font-family: font-family: 'Della Respira', serif;
  margin-top: 2%;
  font-size: 2em;
}

footer a {
    color: yellow;
    text-decoration: none;
}

footer a:hover {
    color: #ff9900;
    text-decoration: none;
}
.button {
  margin: 5px 0 0;
}