/**
 * index.scss
 * - Add any styles you want here!
 */

body {
  background: url('https://7ojiew-bn1305.files.1drv.com/y4mSOft4zbHHli33i-9gfURIuqdC35yACVOl7sxoAYdOkGDIV05Jp9wUyNMbYx4LbaOieVmbmp9QCx6SLKQRq8Bsvywwf5F58hA0jzWLnYeuo8eKJRE3YPCPJiKplXKo_w17jergXx2xN2BuW7ufhzTeMga8A9TJ51OhFMioeeQD88D_vryL7Fue0MLxzKyhw4riLQ5SVOMXz7631IjoHyq5w?width=2816&height=2112&cropmode=none') top left no-repeat;
  background-size: cover;
  color: #532827;
}

 h1 {
  font-size: 30px;
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: solid 1px #ddd;
  font-family: 'Baloo Bhaijaan', cursive !important;
 }

#quote {
  
  margin: 10px auto 0;
  padding: 60x 50px;
  box-sizing: border-box;

  
}
.button {
  margin: 50px 0 10px;
}
.btn {
  //background: #6c2726;
  //color: white;
 font-size: 18px;
  text-transform: uppercase;
  border: none;
  border-bottom: solid 4px #222;
  padding: 20px 30px;
  //width: 100%;
}

#twitter {
    background: #55acee;
    text-transform: none;
}

button:hover {
  background: #80e5ff;
  border-bottom-color: #111;
}

button:active {
  position: relative;
  top: 1px;
}
#quote {
  font-size: 50px;
  margin-top: 40px;
   color: #532827;
  background-color: rgba(255, 255, 153, 0.5);
  font-family: 'Baloo Bhaijaan', cursive, italic;
  font-size: 22px;
  font-weight: 900i;
  display: block;
  text-transform: uppercase;
}

#before {
  //content: "Hit the button for your daily dose of inspiration!";
  
  color: #532827;
  background-color: rgba(255, 255, 153, 0.5);
  font-family: 'Baloo Bhaijaan', cursive;
  font-size: 22px;
  font-weight: 900i;
  display: block;
  text-transform: uppercase;
}



#author {
  font-size: 0.8em;
  font-style: italic;
  color: #421604;
}

.footer {
    padding-top: 50px;
  color: white;
font-family: 'Oleo Script Swash Caps', cursive;
  margin-top: 2%;
  font-size: 1em;
}

.footer a {
    color: red;
    text-decoration: none;
}